# Ignore les fichiers temporaires, les builds, et les fichiers générés par Visual Studio

# Ignorer les fichiers temporaires de Visual Studio
.vs/

# Ignorer les logs, les bases de données et les fichiers temporaires globaux
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
*.log
*.sqlite

###################
# Compiled source #
###################
WebApplication1/*.com
WebApplication1/*.class
WebApplication1/*.dll
WebApplication1/*.exe
WebApplication1/*.pdb
WebApplication1/*.dll.config
WebApplication1/*.cache
WebApplication1/*.suo

# Include dlls if they’re in the NuGet packages directory
!/WebApplication1/packages/*/lib/*.dll
# Include dlls if they're in the CommonReferences directory
!/WebApplication1/CommonReferences/*.dll

####################
# VS Upgrade stuff #
####################
WebApplication1/_UpgradeReport_Files/

###############
# Directories #
###############
WebApplication1/bin/
WebApplication1/obj/
WebApplication1/TestResults/

###################
# Web publish log #
###################
WebApplication1/*.Publish.xml

#############
# Resharper #
#############
WebApplication1/_ReSharper.*
WebApplication1/*.ReSharper.*

############
# Packages #
############
WebApplication1/packages/
WebApplication1/*.7z
WebApplication1/*.dmg
WebApplication1/*.gz
WebApplication1/*.iso
WebApplication1/*.jar
WebApplication1/*.rar
WebApplication1/*.tar
WebApplication1/*.zip

######################
# Logs and databases #
######################
WebApplication1/*.log
WebApplication1/*.sqlite

######################
# OS generated files #
######################
WebApplication1/.DS_Store?
WebApplication1/ehthumbs.db
WebApplication1/Icon?
WebApplication1/Thumbs.db

# User-specific files
WebApplication1/*.user
WebApplication1/*.userosscache
WebApplication1/*.sln.docstates

# MonoDevelop/Xamarin Studio
WebApplication1/*.userprefs

# Build results
WebApplication1/[Dd]ebug/
WebApplication1/[Dd]ebugPublic/
WebApplication1/[Rr]elease/
WebApplication1/[Rr]eleases/
WebApplication1/x64/
WebApplication1/x86/
WebApplication1/build/
WebApplication1/bld/
WebApplication1/[Bb]in/
WebApplication1/[Oo]bj/

# Visual Studio 2015 cache/options directory
WebApplication1/.vs/

# MSTest test Results
WebApplication1/[Tt]est[Rr]esult*/
WebApplication1/[Bb]uild[Ll]og.*

# NUNIT
WebApplication1/*.VisualState.xml
WebApplication1/TestResult.xml

# Build Results of an ATL Project
WebApplication1/[Dd]ebugPS/
WebApplication1/[Rr]eleasePS/
WebApplication1/dlldata.c

# DNX
WebApplication1/project.lock.json
WebApplication1/artifacts/

# Cache et logs supplémentaires
WebApplication1/*.i.c
WebApplication1/*.p.c
WebApplication1/*.i.h
WebApplication1/*.ilk
WebApplication1/*.meta
WebApplication1/*.obj
WebApplication1/*.pch
WebApplication1/*.pgc
WebApplication1/*.pgd
WebApplication1/*.rsp
WebApplication1/*.sbr
WebApplication1/*.tlb
WebApplication1/*.tli
WebApplication1/*.tlh
WebApplication1/*.tmp
WebApplication1/*.tmp_proj
WebApplication1/*.vspscc
WebApplication1/*.vssscc
WebApplication1/.builds
WebApplication1/*.pidb
WebApplication1/*.svclog
WebApplication1/*.scc

# Chutzpah Test files
WebApplication1/_Chutzpah*

# Visual C++ cache files
WebApplication1/ipch/
WebApplication1/*.aps
WebApplication1/*.ncb
WebApplication1/*.opensdf
WebApplication1/*.sdf
WebApplication1/*.cachefile

# Visual Studio profiler
WebApplication1/*.psess
WebApplication1/*.vsp
WebApplication1/*.vspx

# TFS 2012 Local Workspace
WebApplication1/$tf/

# Guidance Automation Toolkit
WebApplication1/*.gpState

# ReSharper
WebApplication1/_ReSharper*/
WebApplication1/*.[Rr]e[Ss]harper
WebApplication1/*.DotSettings.user

# JustCode
WebApplication1/.JustCode

# TeamCity
WebApplication1/_TeamCity*

# DotCover
WebApplication1/*.dotCover

# NCrunch
WebApplication1/_NCrunch_*
WebApplication1/.*crunch*.local.xml

# MightyMoose
WebApplication1/*.mm.*
WebApplication1/AutoTest.Net/

# Web workbench (sass)
WebApplication1/.sass-cache/

# Installshield output folder
WebApplication1/[Ee]xpress/

# DocProject
WebApplication1/DocProject/buildhelp/
WebApplication1/DocProject/Help/*.HxT
WebApplication1/DocProject/Help/*.HxC
WebApplication1/DocProject/Help/*.hhc
WebApplication1/DocProject/Help/*.hhk
WebApplication1/DocProject/Help/*.hhp
WebApplication1/DocProject/Help/Html2
WebApplication1/DocProject/Help/html

# Click-Once directory
WebApplication1/publish/

# Publish Web Output
WebApplication1/*.[Pp]ublish.xml
WebApplication1/*.azurePubxml
WebApplication1/*.pubxml
WebApplication1/*.publishproj

# NuGet Packages
WebApplication1/*.nupkg
WebApplication1/**/packages/*
!WebApplication1/**/packages/build/
#!WebApplication1/**/packages/repositories.config

# Windows Azure Build Output
WebApplication1/csx/
WebApplication1/*.build.csdef

# Windows Store app package directory
WebApplication1/AppPackages/

# Visual Studio cache files
WebApplication1/*.[Cc]ache
!*WebApplication1/.[Cc]ache/

# Others
WebApplication1/ClientBin/
WebApplication1/[Ss]tyle[Cc]op.*
WebApplication1/~$*
WebApplication1/*~
WebApplication1/*.dbmdl
WebApplication1/*.dbproj.schemaview
WebApplication1/*.pfx
WebApplication1/*.publishsettings
WebApplication1/node_modules/
WebApplication1/bower_components/
WebApplication1/orleans.codegen.cs

# RIA/Silverlight projects
WebApplication1/Generated_Code/

# Backup & report files from old project conversions
WebApplication1/_UpgradeReport_Files/
WebApplication1/Backup*/
WebApplication1/UpgradeLog*.XML
WebApplication1/UpgradeLog*.htm

# SQL Server files
WebApplication1/*.mdf
WebApplication1/*.ldf

# Business Intelligence projects
WebApplication1/*.rdl.data
WebApplication1/*.bim.layout
WebApplication1/*.bim_*.settings

# Microsoft Fakes
WebApplication1/FakesAssemblies/

# Node.js Tools for Visual Studio
WebApplication1/.ntvs_analysis.dat

# Visual Studio 6 build log
WebApplication1/*.plg
